* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    overflow-x: hidden;
}

.img-fluid {
    width: 250px;
    height: 250px;
}

ion-icon {
    color: blue;
    font-size: 64px;
}

form {
    width: 90%;
    margin: auto;
    position: relative; 
}

.alert {
    width: 100%;
    position: absolute;
    top: 0;
}

.bi {
    color: blue;
}

.aos-extra-space {
    overflow-x: hidden;
}
